<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
{{#if name}}
  <h6>{{name}}</h6>
{{/if}}

<div class="row">
  <div class="col-sm-6">
    <form method="post" id="sessionForm" action="/name">
      <input type="text" name="name" id="name" placeholder="Enter Name" class="form-control">
      <br>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

</div>
